body , h1 ,h2 ,h3 , h5 , h4 , h6{
    font-family: 'Cairo', sans-serif;
}
a:hover{
    text-decoration: none;
}
ul{
    list-style:none;
}
.socialnav{
    background-color:#3e3e3e;
    padding:.3% 0;
    text-align: center;
}
.socialnav i{
    color:#fff;
    text-align: center;
}
.socialnav a:not(:last-child) , .navbar a:not(:last-child){
    margin-left:.5%;
}
.navbar{
    padding:.5% 0;
}
.navbar a{
    color: #000;
}
.navbar .navbar-nav  .nav-item .nav-link{
    font-size: 20px;
    font-weight: 600;
}
.navbar .navbar-nav  .nav-item:not(:last-child){
    margin-left:5%;
}
footer{
    background-color: #3e3e3e;
    padding:4% 0;
    color:#fff
}
footer .col-md-3 li{
    margin-bottom:20%;
    text-align:right;
}
footer .col-md-3 li a{
    color:#fff;

}
footer .col-md-3 li a:hover{
    color:#fff;
    text-decoration:none;
}
footer .row{
    margin-bottom:15%;
}
footer img{
    width:100px;
    margin-bottom: 5%;
  }
